#map {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
}

.marker {
    height: 69px;
    width: 47px;
    background-image: url(https://api.geoapify.com/v1/icon/?type=material&color=%23ff6347&size=x-large&icon=landmark&iconType=awesome&scaleFactor=2&apiKey=8f29ca4faadf42c6aa352315c93dc662);
    background-size: contain;
    cursor: pointer;
}